<div id="login_view">
    <div class="login-view">
        <div class="col-md-8 col-sm-7 col-xs-12">
            <div class="vertical">
                <img class="logo" src="/assets/img/zemsania.png">
            </div>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-10">
            <div class="vertical">
                <div class="login-box visible">
                    <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
    <canvas></canvas>
</div>
