<h3>{{'auth.changePassword.title' | i18next}}</h3>
<form name="form" ng-submit="changePassword()" role="form">
    <div class="form-group"
         ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <input type="password" name="password" placeholder="{{'auth.changePassword.oldPassword' | i18next}}"
               class="form-control" ng-model="passwordForm.oldPassword" required/>
    </div><div class="form-group"
         ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
        <input type="password" name="password" placeholder="{{'auth.changePassword.password' | i18next}}"
               class="form-control" ng-model="passwordForm.password" required/>
    </div>
    <div class="form-group"
         ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
        <input type="password" name="password2" placeholder="{{'auth.changePassword.password2' | i18next}}"
               class="form-control" ng-model="passwordForm.password2" required/>
        <span ng-show="form.password2.$dirty && passwordForm.password !== passwordForm.password2"
              class="help-block ng-hide">{{'auth.changePassword.passwordNotMatching' | i18next}}</span>
    </div>
    <div class="form-actions">
        <div class="alert alert-danger" ng-show="passwordForm.error">{{'auth.changePassword.error' | i18next}}</div>
        <div class="alert alert-success" ng-show="passwordForm.success">
            {{'auth.changePassword.success' | i18next}}
        </div>

        <button type="submit"
                ng-disabled="form.$invalid || passwordForm.password !== passwordForm.password2 || passwordForm.success"
                class="btn btn-primary">{{'actions.next' | i18next}}
        </button>
    </div>
</form>