@import "./../../colors";

.about {
    a {
        background-color: #333;
        margin-right: 15px;
        padding: 7px;
        border-radius: 7px;
        display: inline-block;
    }
    .aboutBox {
        min-height: 140px;
        width: 85%;
        margin: 15px auto;
        background-color: $groupColor;
        color: $myColor;
        border-radius: 5px;
        padding: 20px;
    }
}
